@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

body {

    font-family: 'Roboto Mono', monospace;
    margin: 25px;
}

header {
    font-size: 20px;
    color: #49A378;
    text-shadow: 3px 3px 3px;
    padding-left: 40px;
    border-bottom: 1px black;
}


nav {
    display: inline-block;
   }

h1 {
    display: inline-block;
    width: 80%;
    font-size: 40px;
   }

h2{
    color: #49A378;
    font-size: 34px;
}

h3{
    color: #49A378;


}

h4{
    color: #49A378;
}
 
nav img {
    width: 40px;
}

section {
    border-top: 1px solid black;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hi-mega{
    text-transform: capitalize;
}


.free-and-fully {
    text-transform: uppercase;
}

.article-hi {
    display: inline-block;
    color: #49A378;
    width: 36%;
    margin-right: 80px;
}
.gym-hi {
    display: inline-block;
}

.hi-text {
    color: black;
}

.text-function {
    display: inline-block;
}

.appfunctions{
    
    padding-left: 40px;
    color: #49A378;
}

.app {
    display: inline-block;
    width: 100%;

}
.conteiner-book {
    margin-left: 120px;

}
.art-book {
    /* float: right; */
    position: relative;
    display: inline-block;
    width: 40%;
    /* margin-left: 110px; */
}

.imgbook {
    position:absolute;
    left: 30px;
    top: 20px;
    /* margin-right: 30px; */
    /* margin-top: 40px; */
}
.text-book {
    width: 80%;
    margin-left: 200px;

}
.art-calendar{
    display: inline-block;
    width: 40%;

}
.text-calendar{
    width: 80%;
    margin-left: 110px;
}
.imgcalendar{
    float: left;

}
.conteiner-membership {
    margin-left: 120px;
}
.art-membership {
    /* float: left; */
    position: relative;
    display: inline-block;
    width: 40%;
    /* margin-left: 0px; */
}
.imgmembership {
    position: absolute;
    left: 30px;
    top: 20px;
    /* margin-right: 30px; */
    /* margin-top: 40px; */
}
.text-membership {
    width: 80%;
    margin-left: 200px;
}
.art-contact {
    float: right;
    display: inline-block;
    width: 45%;
    margin-right: 110px;
}
.imgcontact {
    float: left;
    margin-right: 30px;
    margin-top: 40px;
}

.text-contact {
    width: 80%;
    margin-left: 10px;
}

.book{
    color: #49A378;
}

.calendar {
    display: inline-block;
    padding-left: 100px;
    color: #49A378;
}

.membership {
    padding-left: 100px;
    color: #49A378;
}

.contact {
    padding-left: 100px;
    color: #49A378;
}
.about {
    display: inline-block;
    
}
.about-title {
    display: inline-block;
    margin-top: 40px;
    margin-left: 30px;
}
.about-paragraph {
    display:inline;
    position:relative;
    width:85%;
    float:right;
    vertical-align: top;
    text-align: center; 
    margin-top: 50px;
}



