<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/footer.css">
        <link rel="stylesheet" href="../css/appfunctions.css">
        <link rel="stylesheet" href="../css/about us.css">
        <link rel="stylesheet" href="../css/queries.css">
        <link rel="stylesheet" href="../css/Gym presentation.css">
        <link rel="stylesheet" href="../css/activities.css">
    </head>
    <body>
        <header>
            <section class="container-header">
                <div class="main-mega">
                    <a href="#"><img class="main-img" src="../../assets/img/main.svg" alt="main-img"></a>
                    <h1>MEGA ROCKET</h1>
                </div>
                <h3 class="free">a free and fully responsive site template</h3> 
                <nav>   
                    <img class="nav-img" src="../../assets/img/Vector.svg" alt="">
                    <img class="nav-img" src="../../assets/img/Add User Male.svg" alt="">
                    <img class="nav-img" src="../../assets/img/Vector (1).svg" alt="">
                    <img class="nav-img" src="../../assets/img/Vector (2).svg" alt="">
                </nav>
            </section>    
        </header>
        <main>
            <section class="container-megarocket">
                <div class="gym-presentation">
                    <article class="article-hi">
                        <h2 class="hi-mega">hi, i'm mega rocket gym</h2>
                        <h3 class="free-and-fully">a free and fully responsive site template</h3>
                        <p class="hi-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus expedita laborum commodi pariatur unde voluptatum, praesentium nobis laboriosam fugit dolor velit labore adipisci? Quaerat voluptatum facere minima quo architecto deserunt?</p>
                        <input class="button-hi" type="button" value="LEARN MORE">
                    </article> 
                    <img class="gym-img" src="../../assets/img/LOGO.svg" alt="gym image">  
                </div>
            </section>
            <section class="container-appfunctions">
                <div class="app">
                    <h2 class="appfunctions">App functions</h2>
                    <div class="group-article">
                        <article class="art">
                            <img class="img" src="../../assets/img/calendar.svg" alt="hi">
                            <div class="conteiner">
                                <h3>Calendar and schedules</h3>           
                                <p class="text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, neque obcaecati itaque d
                                    istinctio, autem ab omnis dolorem qui tempore at doloremque dignissimos, accusamus 
                                    veniam aspernatur consequuntur rem minus hic voluptas!
                                </p>
                            </div> 
                        </article> 
                        <article class="art">
                            <img class="img" src="../../assets/img/book.svg" alt="hi">
                            <div class="conteiner">
                                <h3>Book appointments</h3>
                                <p class="text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita excepturi magnam accusantium quo voluptatum enim deleniti placeat. Fuga ad saepe esse consequatur reprehenderit. Laborum eos minima enim natus neque totam!
                                </p>
                            </div> 
                        </article> 
                    </div>
                    <div class="group-article">               
                        <article class="art">
                            <img class="img" src="../../assets/img/membership.svg" alt="hi">
                            <div class="conteiner">
                                <h3>Membership management</h3>
                                <p class="text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis officiis officia nulla 
                                    facilis, sapiente, nostrum voluptatem deserunt enim consequatur assumenda atque 
                                    facere voluptas molestias voluptatibus dolores est earum. Dolore, voluptatibus.
                                </p>
                            </div>
                        </article>
                        <article class="art">
                            <img class="img" src="../../assets/img/Vector (6).svg" alt="hi">
                            <div class="conteiner">      
                                <h3>Contact and suggestions form</h3>
                                <p class="text">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur aliquid dignissimos 
                                    voluptatum deserunt minima nulla nihil, suscipit quasi eaque nesciunt, ipsam quaerat sunt, 
                                    eligendi porro culpa atque sit magnam minus.
                                </p>
                            </div>   
                        </article>
                    </div>
                </div>
            </section>
            <section>
                <div class="about">
                    <h2 class="about-title">About us</h2>
                    <p class="about-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit 
                        voluptas debitis, tenetur dolor repellendus iusto est quibusdam fugit placeat voluptatibus quis al
                        iquam a incidunt dolore. Quaerat, quia asperiores. Voluptatum, praesentium.</p>
                </div>    
            </section>
            <section class="conteiner-queries">
                <div class="queries">        
                    <article>
                        <form>
                            <h2>Send in your queries</h2>
                            <div class="contact-form">
                                <ul>
                                    <li>
                                        <input class="text-box" placeholder="First name" type="text" id="name" name="name">
                                    </li>
                                    <li>
                                        <input class="text-box" placeholder="Last name" type="text" id="lname" name="lname">
                                    </li>
                                    <li>
                                        <input class="text-box" placeholder="email" type="email" id="email" email="email">
                                    </li>
                                </ul>
                                <textarea placeholder="comments" class="text-area" name="text" id="text" cols="34" rows="5"></textarea>
                                <input class="button-box" type="button" value="Send">
                            </div>
                            <article class="reason">
                                <h3>Reason</h3>
                                <ul>
                                    <li class="form">
                                        <input type="checkbox" id="menbresiasycostos" value="membresiasycostos">
                                        <label for="membership">I want to know about memberships and costs</label>
                                    </li>
                                    <li class="form">
                                        <input type="checkbox" id="question" name="question" value="question">
                                        <label for="question">I want to make a query or a suggestion</label>
                                    </li>
                                    <li class="form">
                                        <input type="checkbox" id="claim" name="claim" value="claim">
                                        <label for="claim">I want to make a complaint</label>
                                    </li>
                                </ul>    
                            </article>
                        </form>
                    </article>
                </div>  
            </section>
            <section>
                <div class="activities">
                    <article class="list">
                        <h4 class="title-activities">Classes</h4>
                        <ul>
                            <li class="icon-list">Crossfit</li>
                            <li class="icon-list">Spinning</li>
                            <li class="icon-list">Boxing</li>
                            <li class="icon-list">Fitness</li>
                        </ul>   
                    </article>
                    <article class="list">
                        <h4 class="title-activities">Black Membership</h4>
                        <ul>
                            <li class="icon-list">Free access to weight room</li>
                            <li class="icon-list">Free access to classes with previous enrolment</li>
                            <li class="icon-list">Personalized monitoring by trainer</li>
                            <li class="icon-list">Display of schedule</li>  
                        </ul>
                    </article>
                    <article class="list">        
                        <h4 class="title-activities">Classic Membership</h4>
                        <ul>
                            <li class="icon-list">Free access to classes with previous enrolment</li>
                            <li class="icon-list">Personalized monitoring by trainer</li>
                            <li class="icon-list">Display of schedule</li> 
                        </ul>      
                    </article>
                    <article class="list">        
                        <h4 class="title-activities">Membership only classes</h4>
                        <ul>
                            <li class="icon-list">Free access to classes with previous enrolment</li>
                            <li class="icon-list">Display of schedule</li>
                        </ul>       
                    </article>
                </div>    
            </section>
        </main> 
        <footer>
            <section class="container-footer">
                <article class="conteiner-footer">
                    <a href="#"><img class="icon" src="../../assets/img/facebook.svg" alt="facebook"></a>
                    <a href="#"><img class="icon" src="../../assets/img/whatsapp.svg" alt="whatsapp"></a>
                    <a href="#"><img class="icon" src="../../assets/img/instagram.svg" alt="instagram"></a>
                </article>    
                <article class="conteiner-copyright">    
                    <p> &#169 MEGA ROCKET SA 2023</p>
                </article>
            </section>    
        </footer>   
    </body>
</html>
