<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Week-06/css/reset.css">
    <link rel="stylesheet" href="../../Week-06/css/login.css">
    <link rel="stylesheet" href="../../Week-06/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <section class="container-header">
            <div class="main-mega">
                <a href="#"><img class="main-img" src="../../assets/img/main.svg" alt="main-img"></a>
                <h1>MEGA ROCKET</h1>
            </div> 
            <nav>   
                <img class="nav-img" src="../../assets/img/Vector.svg" alt="">
                <img class="nav-img" src="../../assets/img/Add User Male.svg" alt="">
                <img class="nav-img" src="../../assets/img/Vector (1).svg" alt="">
                <img class="nav-img" src="../../assets/img/Vector (2).svg" alt="">
            </nav>
        </section>    
    </header>
    <main>
        <section class="box-user">
            <h3>sign up</h3>
            <div>
                <ul>
                    <li>
                        <input class="text-box" placeholder="Email" type="text" id="Email" name="Email">
                    </li>
                    <li>
                        <input class="text-box" placeholder="Password" type="text" id="Password" name="Password">
                    </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>
                        <input type="checkbox" id="Remember-me" value="Remember-me">
                        <label for="Remember-me">Remember me</label>
                    </li>
                    <li>
                        <p>Forgot Password ?</p>
                        <p>Get help</p>
                    </li>    
                </ul>
            <input class="button-continue" type="button" value="Continue"> 
            </div>
        </section>                   
    </main>
    <footer>
        <section class="container-footer">
            <article class="conteiner-footer">
                <a href="#"><img class="icon" src="../../assets/img/facebook.svg" alt="facebook"></a>
                <a href="#"><img class="icon" src="../../assets/img/whatsapp.svg" alt="whatsapp"></a>
                <a href="#"><img class="icon" src="../../assets/img/instagram.svg" alt="instagram"></a>
            </article>    
            <article class="conteiner-copyright">    
                <p> &#169 MEGA ROCKET SA 2023</p>
            </article>
        </section>    
    </footer> 
</body>
</html>