<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Week-06/css/reset.css">
    <link rel="stylesheet" href="../../Week-06/css/style.css">
    <link rel="stylesheet" href="../../Week-06/css/header.css">
    <link rel="stylesheet" href="../../Week-06/css/footer.css">
    <link rel="stylesheet" href="../../Week-06/css/login.css">
    <title>Document</title>
    <script src="../../Week-06/js/login.js"></script>
</head>
<body>
    <header>
        <section class="container-header">
            <div class="main-mega">
                <a href="#"><img class="main-img" src="../../assets/img/main.svg" alt="main-img"></a>
                <h1>MEGA ROCKET</h1>
            </div>
            <nav>
                <a href="https://bruuno13.github.io/BaSP-M2023/Week-06/views/index.html"><img class="nav-img" src="../../assets/img/Vector.svg" alt=""></a>
                <a href="https://bruuno13.github.io/BaSP-M2023/Week-06/views/sign-up.html"><img class="nav-img" src="../../assets/img/Add User Male.svg" alt=""></a>
                <img class="nav-img" src="../../assets/img/Vector (1).svg" alt="">
                <img class="nav-img" src="../../assets/img/Vector (2).svg" alt="">
            </nav>
        </section>
    </header>
    <main>
        <div class="box-user">
            <h3>log in</h3>
            <form>
                <div class="box" id="box">
                    <fieldset>
                        <img class="icons" src="../../assets/img/cart.svg" alt="mail">
                        <label for="Email"></label>
                        <input class="text-box" placeholder="Email" type="Email" id="Email" >
                        <span class="correct" id="emailErrorMsg"></span>
                    </fieldset>
                    <fieldset>
                        <img class="icons" src="../../assets/img/lock.svg" alt="Password">
                        <label for="Password"></label>
                        <input class="text-box" placeholder="Password" type="Password" id="Password" Password="Password">
                        <span class="correct" id="passwordErrorMsg"></span>
                    </fieldset>
                </div>
                <div class="text-remember">
                    <input type="checkbox" id="Remember-me" value="Remember-me">
                    <label for="Remember-me">Remember me</label>
                    <div class="pass">
                        <a href="#">Forgot Password ?</a>
                        <a href="">Get help</a>
                    </div>
                </div>
                <div>
                    <input class="button-continue" type="button" value="Continue" id="login-button">
                    <span class="correctInputs" id=""></span>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <section class="container-footer">
            <article class="conteiner-footer">
                <a href="#"><img class="icon" src="../../assets/img/facebook.svg" alt="facebook"></a>
                <a href="#"><img class="icon" src="../../assets/img/whatsapp.svg" alt="whatsapp"></a>
                <a href="#"><img class="icon" src="../../assets/img/instagram.svg" alt="instagram"></a>
            </article>
            <article class="conteiner-copyright">
                <p> &#169 MEGA ROCKET SA 2023</p>
            </article>
        </section>
    </footer>
</body>
</html>