<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Week-06/css/reset.css">
    <link rel="stylesheet" href="../../Week-06/css/sign-up.css">
    <link rel="stylesheet" href="../../Week-06/css/style.css">
    <link rel="stylesheet" href="../../Week-06/css/header.css">
    <link rel="stylesheet" href="../../Week-06/css/footer.css">
    <title>Document</title>
    <script src="../../Week-06/js/sign-up.js"></script>
</head>
<body>
    <header>
        <section class="container-header">
            <div class="main-mega">
                <a href="#"><img class="main-img" src="../../assets/img/main.svg" alt="main-img"></a>
                <h1>MEGA ROCKET</h1>
            </div>
            <nav>
                <img class="nav-img" src="../../assets/img/Vector.svg" alt="">
                <img class="nav-img" src="../../assets/img/Add User Male.svg" alt="">
                <img class="nav-img" src="../../assets/img/Vector (1).svg" alt="">
                <img class="nav-img" src="../../assets/img/Vector (2).svg" alt="">
            </nav>
        </section>
    </header>
    <main>
        <section class="regist">
            <h3>register</h3>
                <div class="box-register">
                    <form>
                        <div>
                        <fieldset>
                            <label for="Name"></label>
                            <input class="text-box" placeholder="Name" type="text" id="Name" name="Name">
                            <span id="nameError" class="correct"></span>
                        </fieldset>
                        <fieldset>
                            <label for="Last name"></label>
                            <input class="text-box"  placeholder="Last name" type="text" id="Last name" name="Last name">
                            <span id="lastnameerror" class="correct"></span>
                        </fieldset>
                        <fieldset>
                            <label for="ID"></label>
                            <input class="text-box" placeholder="ID" type="text" id="Id" name="ID">
                            <span id="idmsg" class="correct"></span>
                        </fieldset>
                        <fieldset>
                            <label for="Phone number"></label>
                            <input class="text-box" placeholder="Phone number" id="Phone number" name="Phone number">
                            <span id="phonenumebererror" class="correct"></span>
                        </fieldset>
                        <fieldset>
                            <label for="Adress"></label>
                            <input class="text-box" placeholder="Adress"  type="text" id="Adress" name="Adress">
                            <span id="adresserror" class="correct"></span>
                        </fieldset>
                        </div>
                        <div class="date">
                        <fieldset>
                            <label for="City"></label>
                            <input class="text-box" placeholder="City" type="text" id="City" name="City">
                            <span id="cityerror" class="correct"></span>
                        </fieldset>
                        <fieldset>
                            <label for = "Postal"></label>
                            <input class="text-box" placeholder="Postal" type="text" id="Postal" name="Postal">
                            <span id="postalserror" class="correct"></span>
                        </fieldset>
                        <fieldset>
                            <label for="Date of birth "></label>
                            <input class="text-box" type="text" placeholder="Date of birth" id="date of birth" name="date of birth">
                            <span id="date-of-birtherror" class="correct"></span>
                        </fieldset>
                        <fieldset>
                            <label for="Email"></label>
                            <input class="text-box" placeholder="Email" type="text" id="Email" name="Email">
                            <span id="emailErrorMsg" class="correct"></span>
                        </fieldset>
                        <fieldset>
                            <label for="Password"></label>
                            <input class="text-box" placeholder="Password" type="text" id="Password" name="Password">
                            <span id="passwordErrorMsg" class="correct"></span>
                        </fieldset>
                        <fieldset>
                            <label for="Repeat Password"></label>
                            <input class="text-box" placeholder="Repeat Password" type="text" id="Repeat Password" name="Repeat Password">
                            <span id="repeatpassworderror" class="correct"></span>
                        </fieldset>
                        </div>
                </div>
                <input class="button-continue" type="button" value="Continue">
        </section>
    </main>
    <footer>
        <section class="container-footer">
            <article class="conteiner-footer">
                <a href="#"><img class="icon" src="../../assets/img/facebook.svg" alt="facebook"></a>
                <a href="#"><img class="icon" src="../../assets/img/whatsapp.svg" alt="whatsapp"></a>
                <a href="#"><img class="icon" src="../../assets/img/instagram.svg" alt="instagram"></a>
            </article>
            <article class="conteiner-copyright">
                <p>&#169 MEGA ROCKET SA 2023</p>
            </article>
        </section>
    </footer>
</body>
</html>