.activities{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;

}
.list{
    padding: 20px;
    align-items: flex-start;
    justify-content: start;
}

.icon-list{
    list-style: circle;
    margin-bottom: 15px;
}
h4{
    margin-top: 10px;
}

@media screen and (min-width: 1025px){
    .activities{
        position: relative;
        display: inline-block;
        max-width: 100%; 
        align-items: center;
    }
    .list{
        position: relative;
        display: inline-block;
        max-width: 24%; 
        vertical-align: top; 
        padding: 50px;
        
        
    }
    .icon-list{
        margin-top: 15px;
        list-style: circle;
    }
}