.queries{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* position: relative;
    display: inline-block;
    width: 100%; */
}
.contact-form{
    margin-top: 20px;
    justify-content: center;
}
.reason{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    
    
    
    /* position: relative;
    display: inline-block;*/
    /* max-width: 49%; 
    top: 20px;
    right: 400px;
    float: right; */
}

.form {
    text-align: left;
    list-style: none;
    margin-bottom: 10px;
}
.text-box {
    margin-bottom: 15px;
    width: 255px;
    height: 30px;
}





