/* .gym-presentation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.article-hi {
    font-style: normal;
    font-weight: 50;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-shadow: 0px 4px 4px;
    /* margin-bottom: 50px; 
}

.hi-mega{
    text-transform: capitalize;
    margin-bottom: 30px;
}

.free-and-fully {
    text-transform: uppercase;
    margin-bottom: 30px;
} */