footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
}