.container-megarocket {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.gym-presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.15);
    background-image: url("../../assets/img/LOGO.svg");
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: contain;
    
}

.article-hi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.hi-mega{
    margin-bottom: 50px;
    text-transform: capitalize;
    
}

.free-and-fully {
    display: none;
    margin-bottom: 30px;
    text-transform: uppercase;  
}

.hi-paragraph{
    margin-bottom: 50px;
}

.button-hi {
    flex-direction: row;
    justify-content: center;
    width: 150px;
    height: 50px;
    margin-bottom: 30px;
}

.gym-img {
    display: none;
}

.free{
    margin-top: 20px;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    color: black;
}

.main-mega{
    display: flex;
}
.main-img { 
    flex-direction: row;
    justify-items: center;
    align-items: center;
}



@media screen and (min-width: 601px){
    .container-megarocket {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .free {
        display: none;
    }

    .gym-presentation {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("");
        background-color: rgba(0, 0, 0, 0);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }

    .article-hi {
        margin-bottom: 50px;
    }

    .hi-mega{
        text-transform: capitalize;
    }

    .free-and-fully {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    .button-hi {
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 20px;
        text-align: center; 
    }

    .gym-img {
        display: flex;
        width: 50%;
    }

}

    @media screen and (min-width: 1025px){
    .container-megarocket {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .gym-presentation {
        margin: 0 30px 0 30px;
    }
    .article-hi {
        justify-content: flex-start;
        align-items: flex-start;
        width: 50%;
        margin-bottom: 50px;
        }
        
    .hi-mega{
        margin: 0;
        text-align: start;
        
    }   

    .free-and-fully {
        margin-left: 0;
        text-align: start;
        
        
    }
    .hi-paragraph{
        margin-left: 0;
    }

    .button-hi {
        margin-top: 20px;
        margin-left: 60px; 
        text-align: center;
        
    }

    .gym-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 725px;
        height: 369px;
    }

}